# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Fantastic Beings and How to Match Them/*
!/Fantastic Beings and How to Match Them/task/
/Fantastic Beings and How to Match Them/task/*
!/Fantastic Beings and How to Match Them/task/src
